# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
ll_env/

# Pytest / testing cache
.pytest_cache/
.coverage
htmlcov/

# Django files
db.sqlite3
db.sqlite3-journal
local_settings.py

# System files
.DS_Store
*.log
